<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<!-- Draws button icon composed of three horizontal bars -->
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="@{/}">iCare</a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li th:class="${page == 'tasks'}? 'active'"><a
						th:href="@{/tasks}">Tasks</a></li>
					<li th:class="${page == 'reminders'}? 'active'"><a
						th:href="@{/reminders}">Reminders</a></li>
					<li th:class="${page == 'tracks'}? 'active'"><a
						th:href="@{/tracks}">Tracking</a></li>
					<li th:class="${page == 'contacts'}? 'active'"><a
						th:href="@{/contacts}">Contacts</a></li>
					<li th:class="${page == 'alerts'}? 'active'"><a
						th:href="@{/alerts}">Alerts</a></li>
					<li th:class="${page == 'clients'}? 'active'"><a
						th:href="@{/clients}">Clients</a></li>
					<li sec:authorize="hasRole('ROLE_ADMIN')"><a
						th:href="@{/users}">Users</a></li>
				</ul>
				<ul class="nav navbar-nav">
					<li class="dropdown"><a href="#" class="dropdown-toggle"
						data-toggle="dropdown" role="button" aria-expanded="false"><label>Selected
								Client:&nbsp;&nbsp;</label><span
							th:text="${selectedClient == null}? 'All' : ${selectedClient.firstName} + ' ' + ${selectedClient.lastName}">All</span>
							<span class="caret"></span> </a>
						<ul class="dropdown-menu" role="menu">
							<li th:if="${selectedClient != null}"><a
								th:href="@{/clients/select_all}">All</a></li>
							<li th:each="client : ${clients}"><a
								th:if="${client != selectedClient}"
								th:href="@{/clients/} + ${client.id} + @{/select}"
								th:text="${client.firstName} + ' ' + ${client.lastName}">John
									Smith</a></li>
						</ul></li>
				</ul>
				<div class="navbar-text navbar-right">
					Logged in as, <a sec:authentication="name" th:href="@{'/users/' + ${user.id}}">Test</a>&nbsp;&nbsp;
					<form class="pull-right" th:action="@{/logout}" method="POST">
						<input class="btn btn-default btn-xs" type="submit" value="Logout" />
						<input type="hidden" th:name="${_csrf.parameterName}"
							th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
		</div>
	</nav>
	<div th:if="${param.success}"
		class="container alert alert-success alert-dismissable text-center"
		role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Success!</strong>
	</div>
	<div th:if="${param.error}"
		class="container alert alert-danger alert-dismissable text-center"
		role="alert">
		<button type="button" class="close" data-dismiss="alert"
			aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<strong>Error!</strong>&nbsp;<span th:text="${errorMessage}">Could
			not process request.</span>
	</div>
</body>
</html>
