<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>iCare Web Service &mdash; Home</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:include="header :: body"></div>
	<div class="container page-header">
		<h1>Carer Web Service</h1>
	</div>
	<div class="container">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3 class="panel-title"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> Recent Alerts</h3></div>
			<div class="panel-body">
				<table class="table" th:if="${not #lists.isEmpty(recentAlerts)}">
				<tr>
					<th>Client</th>
					<th>Type</th>
					<th>Issued</th>
					<th>Coordinates</th>
					<th>Acknowledge</th>
				</tr>
				<tr th:each="alert : ${recentAlerts}">
					<td><a th:text="${alert.clientId}" th:href="@{/clients/} + ${alert.clientId}">John Smith</a></td>
					<td th:text="${alert.type}">Hello, world!</td>
					<td th:text="${alert.dateTimeString}">01/01/15 00:00</td>
					<td><a th:text="${alert.coords}" th:href="@{http://maps.google.com/maps(q=${alert.coords})}" title="Go to map">0.00+0.00</a></td>
					<td>
						<a th:if="${!alert.ack}" class="btn btn-default btn-xs" type="button" title="Acknowledge" th:href="@{/alerts/} + ${alert.id} + @{/ack}">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
					</td>
				</tr>
				</table>
				<p class="text-center" th:if="${#lists.isEmpty(recentAlerts)}">No recent alerts.</p>
			</div>
		</div>
	</div>
	<div class="container">
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>
