<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title th:replace="'fragments/' + ${page} :: title">iCare Web Service &mdash;
	Resources</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
</head>
<body>
	<div th:include="header :: body"></div>
	<div class="container page-header">
		<h1 th:replace="'fragments/' + ${page} :: heading">Resources</h1>
	</div>
	<div class="container">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="#tab-overview"
				data-toggle="tab">Overview</a></li>
			<li th:if="${canNew}" role="presentation"><a href="#tab-new" data-toggle="tab"
				th:text="'New ' + ${resourceName}">New Resource</a></li>
		</ul>

		<div class="tab-content" style="padding-top: 10px;">
			<div id="tab-overview" class="tab-pane active">
				<div th:replace="'fragments/' + ${page} :: overviewBody"></div>
			</div>
			<div th:if="${canNew}" id="tab-new" class="tab-pane">
				<div class="panel panel-default" style="padding: 8px 18px;">
					<div class="panel-body">
						<form th:action="@{'/' + ${page}}" th:object="${newResource}"
							method="POST">
							<div class="row">
								<div th:replace="'fragments/' + ${page} :: newBody"></div>
							</div>
							<div class="row">
								<div><button type="submit" class="btn btn-primary">Submit</button></div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<footer th:replace="footer :: footer"></footer>
	</div>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
	<script th:src="@{/js/map.js}"></script>
</body>
</html>
