<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Alerts</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Alerts</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient == null}" th:each="client : ${clients}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/alerts :: _overviewBody"></div>
	</div>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient != null}" th:with="client = ${selectedClient}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/alerts :: _overviewBody"></div>
	</div>

	<div th:fragment="_overviewBody" class="panel-body">
		<table class="table" th:if="${not #lists.isEmpty(resources)}">
			<tr>
				<th>Type</th>
				<th>Issued</th>
				<th>Coordinates</th>
				<th>Acknowledged</th>
				<th>Actions</th>
			</tr>
			<tr th:each="alert : ${resources}"
				th:if="${alert.clientId == client.id}"
				th:class="${alert.ack}? 'success' : 'danger'">
				<td th:text="${alert.type}">Hello, world!</td>
				<td th:text="${alert.dateTimeString}">01/01/15 00:00</td>
				<td><a th:text="${alert.coords}" th:href="@{http://maps.google.com/maps(q=${alert.coords})}" title="Go to map">0.00+0.00</a></td>
				<td><span
					th:class="${alert.ack}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"
					aria-hidden="true"></span></td>
				<td><a th:if="${alert.ack}" class="btn btn-default btn-xs"
					type="button" title="Unacknowledge"
					th:href="@{/alerts/} + ${alert.id} + @{/unack}"> <span
						class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a> <a th:if="${!alert.ack}" class="btn btn-default btn-xs"
					type="button" title="Acknowledge"
					th:href="@{/alerts/} + ${alert.id} + @{/ack}"> <span
						class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</a> <a class="btn btn-default btn-xs" type="button" title="Delete"
					th:href="@{/alerts/} + ${alert.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a></td>
			</tr>
		</table>
		<p class="text-center" th:if="${#lists.isEmpty(resources)}">No alerts.</p>
	</div>
</body>
</html>
