<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Clients</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Clients</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:each="client : ${clients}" th:if="${not #lists.isEmpty(clients)}">
		<div class="panel-heading">
			<h4>
				<a th:href="@{/clients/} + ${client.id}"
					th:text="${client.firstName} + ' ' + ${client.lastName}">John
					Smith</a>
			</h4>
		</div>
	</div>
	
	<div th:fragment="overviewBody">
	<p class="text-center" th:if="${#lists.isEmpty(clients)}">No clients.</p>
	</div>

	<div th:fragment="newBody">
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-title">First Name</label> <input type="text"
					class="form-control" id="input-first-name"
					placeholder="Enter a first name..." name="firstName"
					th:field="*{firstName}" /> <br /> <label for="input-last-name">Last
					Name</label> <input type="text" class="form-control" id="input-last-name"
					placeholder="Enter a last name..." name="lastName"
					th:field="*{lastName}" /> <br /> <label for="input-dob">Date
					of Birth</label>
				<div class="input-group date">
					<span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span> </span> <input
						id="input-dob" type="text" class="form-control" name="dob"
						th:field="*{dob}" />
				</div>
			</div>
			<div class="form-group">
				<label for="input-phone">Phone</label> <input id="input-phone"
					placeholder="Enter a phone number..." type="text"
					class="form-control" name="phone" th:field="*{phone}" /> <br /> <label
					for="input-email">Email</label> <input id="input-email"
					placeholder="Enter an email address..." type="email"
					class="form-control" name="email" th:field="*{email}" />
			</div>
			<div th:if="*{id > 0}" class="form-group">
				<label for="input-auth-token">Auth Token</label> <input
					id="input-auth-token" type="text" class="form-control"
					name="authToken" th:field="*{authToken}" readonly="readonly" /> <br />
				<label for="input-user-id">Associated User ID</label> <input id="input-user-id"
					type="text" class="form-control" name="userid" th:field="*{userId}"
					readonly="readonly" />
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-address">Address</label>
				<textarea class="form-control" id="input-address"
					placeholder="Enter an address then click search..." rows="5"
					style="resize: none;" name="address" th:field="*{address}"></textarea>
				<br />
				<button class="btn btn-default" type="button"
					onClick="onAddressSearchClick();">Search Address</button>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<label>Map</label>
			<div id="map"></div>
		</div>
	</div>

	<div class="container">
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>
