<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Client</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<h1 th:fragment="heading"
		th:text="${resource.firstName} + ' ' + ${resource.lastName}">Client</h1>
	<div th:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a th:if="${resource.id != user.selectedClientId}"
					class="btn btn-success" type="button" title="Select"
					th:href="@{/clients/} + ${resource.id} + @{/select}"> <span
					class="glyphicon glyphicon-ok" aria-hidden="true"></span> Select
				</a>
				<button th:if="${resource.id == user.selectedClientId}"
					class="btn btn-success" type="button" title="Selected"
					value="Selected" disabled="disabled">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
					Selected
				</button>
				<span class="pull-right"> <a class="btn btn-primary"
					type="button" title="Edit"
					th:href="@{/clients/} + ${resource.id} + @{/edit}"> <span
						class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
				</a> <a class="btn btn-danger" type="button" title="Delete"
					th:href="@{/clients/} + ${resource.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						Delete
				</a>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6 col-md6">
						<label>Date of Birth</label>
						<p th:text="${resource.dobFormattedString}">01/01/1990</p>
						<label>Phone</label>
						<p th:text="${resource.phone}">Phone</p>
						<label>Email</label>
						<p>
							<a th:href="'mailto:' + ${resource.email}"
								th:text="${resource.email}"></a>
						</p>
						<label>Auth Token</label>
						<p th:text="${resource.authToken}"></p>
						<img th:src="@{/clients/} + ${resource.id} + '/auth_token'" />
						<p>
							<a class="btn btn-primary" type="button"
								title="Regenerate Auth Token"
								th:href="@{/clients/} + ${resource.id} + @{/auth_token/regen}">
								<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
								Regenerate Auth Token
							</a>
						</p>
					</div>
					<div class="col-sm-6 col-md6">
						<label>Address</label>
						<p id="address" th:text="${resource.address}">123 Test Road</p>
						<label>Map</label>
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

