<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Contacts</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Contacts</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient == null}" th:each="client : ${clients}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/contacts :: _overviewBody"></div>
	</div>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient != null}" th:with="client = ${selectedClient}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/contacts :: _overviewBody"></div>
	</div>

	<div th:fragment="_overviewBody" class="panel-body">
		<table class="table" th:if="${not #lists.isEmpty(resources)}">
			<tr>
				<th class="col-sm-10 col-xs-8">Name</th>
				<th class="col-sm-2 col-xs-4">Actions</th>
			</tr>
			<tr th:each="contact : ${resources}"
				th:if="${contact.clientId == client.id}">
				<td class="col-sm-10 col-xs-8"><a
					th:text="${contact.firstName} + ' ' + ${contact.lastName}"
					th:href="@{/contacts/} + ${contact.id}">John Smith</a></td>
				<td class="col-sm-2 col-xs-4"><a class="btn btn-default btn-xs" type="button"
					title="Edit" th:href="@{/contacts/} + ${contact.id} + @{/edit}">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a> <a class="btn btn-default btn-xs" type="button" title="Delete"
					th:href="@{/contacts/} + ${contact.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a></td>
			</tr>
		</table>
		<p class="text-center" th:if="${#lists.isEmpty(resources)}">No contacts.</p>
	</div>

	<div th:fragment="newBody">
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-title">First Name</label> <input type="text"
					class="form-control" id="input-first-name"
					placeholder="Enter a first name..." name="firstName"
					th:field="*{firstName}" /> <br /> <label for="input-last-name">Last
					Name</label> <input type="text" class="form-control" id="input-last-name"
					placeholder="Enter a last name..." name="firstName"
					th:field="*{lastName}" /> <br /> <label for="input-description">Description
					</label> <input type="text" class="form-control" id="input-description"
					placeholder="Enter a description..." name="description"
					th:field="*{description}" />
			</div>
			<div class="form-group">
				<label for="input-phone">Phone</label> <input id="input-phone"
					placeholder="Enter a phone number..." type="text"
					class="form-control" name="phone" th:field="*{phone}" /> <br /> <label
					for="input-email">Email</label> <input id="input-email"
					placeholder="Enter an email address..." type="email"
					class="form-control" name="email" th:field="*{email}" />
			</div>
			<div th:if="*{id > 0}" class="form-group">
				<label for="input-owner">Owner</label> <select class="form-control"
					id="input-owner" name="owner" th:field="*{clientId}">
					<option th:each="client : ${clients}" th:value="${client.id}"
						th:selected="${client.id} == *{clientId}"
						th:text="${client.firstName} + ' ' + ${client.lastName}">John
						Smith</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-address">Address</label>
				<textarea class="form-control" id="input-address"
					placeholder="Enter an address then click search..." rows="5"
					style="resize: none;" name="address" th:field="*{address}"></textarea>
				<br />
				<button class="btn btn-default" type="button"
					onClick="onAddressSearchClick();">Search Address</button>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<label>Map</label>
			<div id="map"></div>
		</div>
	</div>
</body>
</html>
