<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Reminders</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Reminders</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient == null}" th:each="client : ${clients}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/reminders :: _overviewBody"></div>
	</div>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient != null}" th:with="client = ${selectedClient}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/reminders :: _overviewBody"></div>
	</div>

	<div th:fragment="_overviewBody" class="panel-body">
		<table class="table" th:if="${not #lists.isEmpty(resources)}">
			<tr>
				<th class="col-sm-5 col-xs-4">Title</th>
				<th class="col-sm-2 col-xs-3">Start Date</th>
				<th class="col-sm-2 col-xs-3">Frequency</th>
				<th class="col-sm-3 col-xs-2">Actions</th>
			</tr>
			<tr th:each="reminder : ${resources}"
				th:if="${reminder.clientId == client.id}">
				<td class="col-sm-5 col-xs-4"><a th:text="${reminder.title}"
					th:href="@{/reminders/} + ${reminder.id}">Hello, world!</a></td>
				<td class="col-sm-2 col-xs-3" th:text="${reminder.startDateTime}">01/01/15 00:00</td>
				<td class="col-sm-2 col-xs-3" th:text="${reminder.frequencyType}">weekly</td>
				<td class="col-sm-3 col-xs-2"><a class="btn btn-default btn-xs" type="button"
					title="Edit" th:href="@{/reminders/} + ${reminder.id} + @{/edit}">
						<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a> <a class="btn btn-default btn-xs" type="button" title="Delete"
					th:href="@{/reminders/} + ${reminder.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a></td>
			</tr>
		</table>
		<p class="text-center" th:if="${#lists.isEmpty(resources)}">No reminders.</p>
	</div>

	<div th:fragment="newBody">
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-title">Title</label> <input type="text"
					class="form-control" id="input-title"
					placeholder="Enter a title..." name="title" th:field="*{title}" />
				<br /> <label for="input-description">Description</label>
				<textarea class="form-control" id="input-description"
					placeholder="Enter a description..." rows="5" name="description"
					th:field="*{description}"></textarea>
			</div>
			<div class="form-group">
				<label for="input-start-date">Start Date</label>
				<div class="input-group date">
					<span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span> </span> <input
						id="input-start-date" type="text" class="form-control"
						name="startDate" th:field="*{startDate}" />
				</div>
				<br /> <label for="input-frequency-type">Frequency Type</label> 
				<select class="form-control" id="input-frequency-type" name="owner" th:field="*{frequencyType}">
					<option value="hourly" th:selected="*{frequencyType} == 'hourly'">Hourly</option>
					<option value="daily" th:selected="*{frequencyType} == 'daily'">Daily</option>
					<option value="monthly" th:selected="*{frequencyType} == 'monthly'">Monthly</option>
					<option value="yearly" th:selected="*{frequencyType} == 'yearly'">Yearly</option>
				</select><br /> <label
					for="input-frequency-value">Frequency Value</label> <input
					type="number" class="form-control" id="input-frequency-value"
					placeholder="0" size="4" name="frequencyValue"
					th:field="*{frequencyValue}" />
			</div>
			<div th:if="*{clientId > 0}" class="form-group">
				<label for="input-owner">Owner</label> <select class="form-control"
					id="input-owner" name="owner" th:field="*{clientId}">
					<option th:each="client : ${clients}" th:value="${client.id}"
						th:selected="${client.id} == *{clientId}"
						th:text="${client.firstName} + ' ' + ${client.lastName}">John
						Smith</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-address">Address</label>
				<textarea class="form-control" id="input-address"
					placeholder="Enter an address then click search..." rows="5"
					style="resize: none;" name="location" th:field="*{location}"></textarea>
				<br />
				<button class="btn btn-default" type="button"
					onClick="onAddressSearchClick();">Search Address</button>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<label>Map</label>
			<div id="map"></div>
		</div>
	</div>
</body>
</html>
