<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Task</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<h1 th:fragment="heading" th:text="${resource.title}">Task</h1>

	<div th:fragment="content">
		<div class="panel panel-default">
			<div class="panel-heading">
				<a th:if="${resource.complete}" class="btn btn-danger" type="button"
					title="Mark Incomplete"
					th:href="@{/tasks/} + ${resource.id} + @{/incomplete}"> <span
					class="glyphicon glyphicon-remove" aria-hidden="true"></span> Mark
					Incomplete
				</a> <a th:if="${!resource.complete}" class="btn btn-success"
					type="button" title="Mark Complete"
					th:href="@{/tasks/} + ${resource.id} + @{/complete}"> <span
					class="glyphicon glyphicon-ok" aria-hidden="true"></span> Mark
					Complete
				</a> <span class="pull-right"> <a class="btn btn-primary"
					type="button" title="Edit"
					th:href="@{/tasks/} + ${resource.id} + @{/edit}"> <span
						class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit
				</a> <a class="btn btn-danger" type="button" title="Delete"
					th:href="@{/tasks/} + ${resource.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						Delete
				</a>
				</span>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-sm-6 col-md6">
						<label>Description</label>
						<p th:text="${resource.description}">Description</p>
						<label>Start Date</label>
						<p th:text="${resource.startDateTime}"></p>
						<label>End Date</label>
						<p th:text="${resource.endDateTime}"></p>
					</div>
					<div class="col-sm-6 col-md6">
						<label>Location</label>
						<p id="address" th:text="${resource.location}">123 Test Road</p>
						<label>Map</label>
						<div id="map"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

