<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Tasks</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Tasks</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient == null}" th:each="client : ${clients}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/tasks :: _overviewBody"></div>
	</div>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:if="${selectedClient != null}" th:with="client = ${selectedClient}">
		<div class="panel-heading">
			<h4 th:text="${client.firstName} + ' ' + ${client.lastName}">John
				Smith</h4>
		</div>
		<div th:replace="fragments/tasks :: _overviewBody"></div>
	</div>

	<div th:fragment="_overviewBody" class="panel-body">
		<table class="table" th:if="${not #lists.isEmpty(resources)}">
			<tr>
				<th class="col-sm-4 col-xs-3">Title</th>
				<th class="col-sm-2 col-xs-3">Start Date</th>
				<th class="col-sm-2 col-xs-3">End Date</th>
				<th class="col-sm-1 col-xs-1">Complete</th>
				<th class="col-sm-3 col-xs-2">Actions</th>
			</tr>
			<tr th:each="task : ${resources}"
				th:if="${task.clientId == client.id}"
				th:class="${task.complete}? 'success' : 'danger'">
				<td class="col-sm-4 col-xs-3"><a th:text="${task.title}"
					th:href="@{/tasks/} + ${task.id}">Hello, world!</a></td>
				<td class="col-sm-2 col-xs-3" th:text="${task.startDateTime}">01/01/15
					00:00</td>
				<td class="col-sm-2 col-xs-3" th:text="${task.endDateTime}">05/03/15
					20:00</td>
				<td class="col-sm-1 col-xs-1"><span
					th:class="${task.complete}? 'glyphicon glyphicon-ok' : 'glyphicon glyphicon-remove'"
					aria-hidden="true"></span></td>
				<td class="col-sm-3 col-xs-2"><a th:if="${task.complete}"
					class="btn btn-default btn-xs" type="button"
					title="Mark Incomplete"
					th:href="@{/tasks/} + ${task.id} + @{/incomplete}"> <span
						class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				</a> <a th:if="${!task.complete}" class="btn btn-default btn-xs"
					type="button" title="Mark Complete"
					th:href="@{/tasks/} + ${task.id} + @{/complete}"> <span
						class="glyphicon glyphicon-ok" aria-hidden="true"></span>
				</a> <a class="btn btn-default btn-xs" type="button" title="Edit"
					th:href="@{/tasks/} + ${task.id} + @{/edit}"> <span
						class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				</a> <a class="btn btn-default btn-xs" type="button" title="Delete"
					th:href="@{/tasks/} + ${task.id} + @{/delete}"> <span
						class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a></td>
			</tr>
		</table>
		<p class="text-center" th:if="${#lists.isEmpty(resources)}">No tasks.</p>
	</div>

	<div th:fragment="newBody">
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-title">Title</label> <input type="text"
					class="form-control" id="input-title"
					placeholder="Enter a title..." name="title" th:field="*{title}" />
				<br /> <label for="input-description">Description</label>
				<textarea class="form-control" id="input-description"
					placeholder="Enter a description..." rows="5" name="description"
					th:field="*{description}"></textarea>
			</div>
			<div class="form-group">
				<label for="input-start-date">Start Date</label>
				<div class="input-group date">
					<span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span> </span> <input
						id="input-start-date" type="text" class="form-control"
						name="startDate" th:field="*{startDate}" />
				</div>
				<br /> <label for="input-end-date">End Date</label>
				<div class="input-group date">
					<span class="input-group-addon"><span
						class="glyphicon glyphicon-calendar"></span> </span> <input
						id="input-end-date" type="text" class="form-control"
						name="endDate" th:field="*{endDate}" />
				</div>
			</div>
			<div th:if="*{clientId > 0}" class="form-group">
				<label for="input-complete">Complete</label>
				<div class="input-group">
					<input type="radio" name="complete" id="input-complete" value="1"
						th:field="*{complete}" th:checked="*{complete}" />Yes <input
						type="radio" name="complete" id="input-complete" value="0"
						th:field="*{complete}" th:checked="*{!complete}" />No
				</div>
				<br /> <label for="input-owner">Owner</label> <select
					class="form-control" id="input-owner" name="owner"
					th:field="*{clientId}">
					<option th:each="client : ${clients}" th:value="${client.id}"
						th:selected="${client.id} == *{clientId}"
						th:text="${client.firstName} + ' ' + ${client.lastName}">John
						Smith</option>
				</select>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-address">Address</label>
				<textarea class="form-control" id="input-address"
					placeholder="Enter an address then click search..." rows="5"
					style="resize: none;" name="location" th:field="*{location}"></textarea>
				<br />
				<button class="btn btn-default" type="button"
					onClick="onAddressSearchClick();">Search Address</button>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<label>Map</label>
			<div id="map"></div>
		</div>
	</div>
</body>
</html>
