<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>iCare Web Service &mdash; Users</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/css/bootstrap-datetimepicker.min.css" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.0.0/js/bootstrap-datetimepicker.min.js"></script>
<script src="https://maps.google.com/maps/api/js?sensor=true"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/gmaps.js/0.4.12/gmaps.min.js"></script>
<script th:src="@{/js/map.js}"></script>
</head>
<body>
	<div th:include="header :: body"></div>

	<h1 th:fragment="heading">Users</h1>

	<div th:fragment="overviewBody" class="panel panel-default"
		th:each="user : ${resources}" th:if="${not #lists.isEmpty(resources)}">
		<div class="panel-heading">
			<h4>
				<a th:href="@{/users/} + ${user.id}"
					th:text="${user.firstName} + ' ' + ${user.lastName}">John
					Smith</a>
			</h4>
		</div>
	</div>
	
	<div th:fragment="overviewBody">
	<p class="text-center" th:if="${#lists.isEmpty(resources)}">No clients.</p>
	</div>

	<div th:fragment="newBody">
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-first-name">First Name</label> <input type="text"
					class="form-control" id="input-first-name"
					placeholder="Enter a first name..." name="firstName"
					th:field="*{firstName}" /> <br /> <label for="input-last-name">Last
					Name</label> <input type="text" class="form-control" id="input-last-name"
					placeholder="Enter a last name..." name="lastName"
					th:field="*{lastName}" /><br />
				<label for="input-username">Username</label> <input type="text"
					class="form-control" id="input-username"
					placeholder="Enter a username..." name="username"
					th:field="*{username}" /> <br /> <label for="input-password">Password
					</label> <input type="password" class="form-control" id="input-password"
					th:placeholder="*{id > 0}? 'New password (leave blank for no change)...' : 'Enter a password...'" name="password"
					th:field="*{password}" />
			</div>
			<div class="form-group">
				<label for="input-phone">Phone</label> <input id="input-phone"
					placeholder="Enter a phone number..." type="text"
					class="form-control" name="phone" th:field="*{phone}" /> <br /> <label
					for="input-email">Email</label> <input id="input-email"
					placeholder="Enter an email address..." type="email"
					class="form-control" name="email" th:field="*{email}" />
					<br />
					<label for="input-authority">Authority</label> <select class="form-control"
					id="input-authority" name="authority" th:field="*{authority}">
					<option th:selected="*{id} > 0 and *{authority} == 'ROLE_CARER'" value="ROLE_CARER">ROLE_CARER</option>
					<option th:selected="*{id} > 0 and *{authority} == 'ROLE_ADMIN'" value="ROLE_ADMIN">ROLE_ADMIN</option>
				</select>
				<br />
				<label for="input-complete">Enabled</label>
				<div class="input-group">
					<input type="radio" name="enabled" id="input-enabled" value="1"
						th:field="*{enabled}" th:checked="*{id} > 0 and *{enabled}" checked="checked" />Yes <input
						type="radio" name="complete" id="input-enabled" value="0"
						th:field="*{enabled}" th:checked="*{id} > 0 and *{!enabled}" />No
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<div class="form-group">
				<label for="input-address">Address</label>
				<textarea class="form-control" id="input-address"
					placeholder="Enter an address then click search..." rows="5"
					style="resize: none;" name="address" th:field="*{address}"></textarea>
				<br />
				<button class="btn btn-default" type="button"
					onClick="onAddressSearchClick();">Search Address</button>
			</div>
		</div>
		<div class="col-sm-6 col-md-6">
			<label>Map</label>
			<div id="map"></div>
		</div>
	</div>

	<div class="container">
		<footer th:replace="footer :: footer"></footer>
	</div>
</body>
</html>
